.navbar {
  background-color: #373737;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-radius: 20px;
  position: relative;

  h1 {
    font-weight: bold;
    font-size: 1.8em;
    font-family: 'Courgette', cursive;
  }

  .button {
    position: fixed;
    left: 40px;
    top: 40px;
    z-index: 10;
    cursor: pointer;
  }

  .menuNav {
    list-style: none;
    position: fixed;
    top: 0;
    margin: 1rem 1rem 0.5em 0.5rem;
    border-radius: 20px;
    background: #373737;
    left: 0;
    bottom: 0;
    width: 0;
    overflow: hidden;
    max-width: 270px;
    z-index: 9;
  }

  .menuNav.showMenu {
    width: 100%;
  }

  li a {
    display: flex;
    padding: 10px 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6em;
    line-height: 2.5rem;
  }
  
  .menuNav li:first-child {
    margin-top: 7rem;
  }
  
}

@media screen and (min-width: 500px) { 
  // défaire un menu burger si plus gd ecran


}