.presentation-mobile {
    border-radius: 20px;
    border: 1px solid #E2DADB;
    width: 100%;
    text-shadow: 1px 1px 4px black;
    display: flex;


    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        align-items: center;
    }

    &__bitmoji {
        margin: auto;

        img {
            width: 100px;
            border-radius: 50%;
            margin-right: 0.6rem;
        }
    }
    
    &__p {
        line-height: 1.4em;
        text-align: center;
        margin: 0.2em;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.5rem;
        margin: 0.2rem;
    }

    &__logo {
        display: flex;
        margin: 0.2rem;

        .logo {
            width: 40px;
            padding: 0.3rem;
        }
    }

}
