.presentation-mobile {
    border-radius: 20px;
    border: 1px solid #E2DADB;
    margin-top: 1.1em;
    width: 100%;
    display: flex;
    justify-content: space-between;

    img {
        width: 140px;
        height: 100%;
        border-radius: 50%;
        padding: 1em;   
        margin-left: 1em;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 70%;
        align-items: center;
    }

    &__p {
        line-height: 1.5em;
        text-align: center;
        margin: 0.5em;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        line-height: 1.5em;
        margin: 0.5em;
    }

    &__logo {
        display: flex;
        margin: 0.5em;


        .logo {
            width: 40px;
            padding: 0.4rem;
        }
    }

    
}