.app {
    // border: 1px solid green;
    .container {
        display: flex;
        flex-direction: row;
        // border: 1px solid blue;
        justify-content: space-around;
        align-content: center;
        // height: 580px;
        margin-top: 3rem;
    }

    @media  screen and (max-width: 750px){
        .container {
            flex-direction: column;
            margin-top: 1rem;
            
        }
    }

}

