.app {

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        max-height: 590px;
        margin: 4rem 0;
    }

    @media  screen and (max-width: 750px){
        .container {
            flex-direction: column;
            margin-top: 1rem;
            max-height: 100%;
            padding: 0.6rem;
            
        }
    }

}

