.app {
    border: 1px solid green;
    .container {
        display: flex;
        flex-direction: row;
        border: 1px solid blue;
        justify-content: space-around;
        align-content: center;
        padding: 1rem;
        min-height: 500px;
        margin-top: 2rem;
    }

    @media  screen and (max-width: 680px){
        .container {
            flex-direction: column;
            
        }
    }

}

