.navbar {
  background-color: #373737;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 1.5rem;
  height: 70px;
  width: 100%;
  border-radius: 20px;
  position: relative;

  h1 {
    font-weight: bold;
    font-size: 1.8rem;
    font-family: 'Courgette', cursive;
    margin-left: 0.6rem;
  }

   .burger {
    background-color: #373737;
    border: none;
  }
  
}
