body {
    background-image: url(./images/fond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    font-family: 'Poiret One', cursive;
    color: #E2DADB;
}

